body, html {
    height: 100%;
    margin: 0;
    background-color: #3c1958;
}

.principal{
    background-image: url("../assets/img/entrar.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    padding-left: 17%;
    top: 45%;
    margin-right: 20px;
    position: absolute;
}

.btn_login {
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.input_login {
    width: 20%;
    display: inline;
}

.back-btn {
    font-size: 1.3rem;
    position: absolute;
    color: #5b4c9c;
    left: 1%;
    top: 90%;
    cursor: pointer;
}

#cadastro, #entrar, #logar {
    border-radius: 40px 10px;
}

#cadastro {
    color: white;
    background-color: #90cd82;
    border-color: white;
}

#entrar, #logar {
    color: white;
    background-color: #5b4c9b;
    border-color: white;
}

.input-cadastro {
    width: 35%;
    margin: 1rem;
}

.direita {
    position: absolute;
    left: 45%;
}

h1 {
    margin-bottom: 2rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background-color: white;
    width: 20%;
    border-radius: 15px 50px 30px;
}
